export(DRAnalysis)
export(DRLevel)
export(DRLevelAnalysis)
export(DRLevelSummary)
export(DataSummary)
export(MeanT)
export(MeanW)
export(NPDXEResponseLevel)
export(PPTPResponseLevel)
export(RCResponseLevel)
export(RelativeChange)
export(TGI)
export(compareGC)
export(compareTwoGC)
export(plotBWeightGC)
export(plotDRLevel)
export(plotDRResults)
export(plotEndpoint)
export(plotGR)
export(plotRC)
export(plotTGI)
export(plotVolumeGC)
export(plotWaterfall)
importFrom(dplyr, between)
import(ggplot2)
import(nlme)
importFrom(plyr, ddply)
import(rcompanion)
importFrom(graphics, plot)
importFrom(stats, aov, kruskal.test, p.adjust, sd, t.test, wilcox.test)